.menu-container {
  background: #eee;
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.menu-btn {
  background-color: gray;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  width: 100%;
  cursor: pointer;
}

.menu-item-container {
  margin-bottom: 1rem;
}
